.action-button {
  $root: &;

  &:before {
    transition: filter 300ms, background-color 300ms;
  }

  .Button2-Text {
    transition: color 300ms;
    text-transform: uppercase;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &_color_project#{$root}_solid:not([disabled]) {
    &:hover {
      &:before {
        filter: brightness(0.9);
      }
    }
  }

  &_color_project#{$root}_solid[disabled] {
    &:before {
      background-color: var(--color-essential);
      filter: brightness(0.8);
    }
    .Button2-Text {
      color: rgba(127, 127, 127, 0.63);
    }
  }
}
